@import '../theme/vars/colors.css';
@import '../theme/vars/typography.css';
@import '../theme/vars/layout.css';
@import '../theme/vars/assets.css';
@import '../theme/vars/ics.css';

[data-theme='dark'] {
	--background: #232222;
	--foreground: var(--white);
	--start-gradient: #45484d;
	--end-gradient: #232323;
	--surface: var(--black);
	--contrast: var(--white);
	--logo-github: var(--logo-github-dark);
	--logo-x: var(--logo-x-dark);
	--logo-facebook: var(--logo-facebook-dark);
}
