.root {
	padding: 0 var(--gutter);
}

.section {
	margin-bottom: 2em;
}

.borderedBox {
	padding: 2em;
	border-radius: var(--border-radius);
	background-color: var(--void);
	color: var(--white);
	padding: 1em 2em;
	--logo-github: var(--logo-github-light);
}

.sectionTitle {
	font-size: var(--font-size-lg);
	text-transform: uppercase;
	margin-bottom: 1em;
	text-align: center;
	padding-top: 0.5em;
}

.code {
	font-family: var(--font-ibm-mono);
	font-weight: var(--font-weight-xl);
}
