.root {
	--example-background: var(--surface);
	--example-foreground: var(--contrast);

	background-color: var(--example-background);
	color: var(--example-foreground);
	border-radius: var(--example-foreground);
	padding: 4em 4em 3.25em;
	text-align: center;
	border-radius: var(--border-radius);
	margin-bottom: 4em;
	box-shadow: 0em 0em 0.5em rgba(0, 0, 1, 0.25);
	background-color: var(--surface);
}

.spellBox {
	display: flex;
	flex-wrap: wrap;
}

.outputText {
	color: var(--example-foreground);
	font-weight: var(--font-weight-md);
	font-family: var(--font-ibm-mono);
	font-size: 1.25em;
	margin: 2em 0 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.hidden {
	cursor: pointer;
	background-color: var(--void);
	color: var(--white);
	font-weight: var(--font-weight-lg);
	border-radius: var(--border-radius);
}
