.root {
	display: flex;
	gap: 0.5em;
}

.button {
	border: none;
	background: none;
	border-radius: 50%;
	cursor: pointer;
	width: 2em;
	height: 2em;
}

.button[data-current-theme='true'] {
	border: 1px dashed var(--foreground);
}
